<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">

</head>
<body>
<div id="app">
    <input type="checkbox" checked value="选择1" v-model="name">
    <input type="checkbox"  value="选择2" v-model="name">
    <input type="checkbox"  value="选择3" v-model="name">
    <div>{{name}}</div>

    <input type="radio" checked v-model="choose">
    <input>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            message: "hello",
            name:[]
        }
    });

    console.log(name);
</script>
</body>
</html>